{% extends "base.html" %}
{% block title%}Data Penerima JPA{% endblock%}

{% block content %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Data Penerima JPA</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Data Penerima JPA</h6>
    </div>
    <div class="card-body">
        <form method="POST" action="/datapenerima">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nama Lengkap</th>
                        <th>NISN</th>
                        <th>Password</th>
                        <th>Jenis Kelamin</th>
                        <th>Nomor Telepon</th>
                        <th>Email</th>
                        <th>Perguruan Tinggi</th>
                        <th>Jalur</th>
                        <th>No Transaksi</th>
                        <th>Virtual Account</th>
                        <th>Jumlah Tagihan</th>
                        <th>Tanggal Expired VA</th>
                        <th>Status Pembayaran</th>
                        <th>Tanggal Daftar</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Nama Lengkap</th>
                        <th>NISN</th>
                        <th>Password</th>
                        <th>Jenis Kelamin</th>
                        <th>Nomor Telepon</th>
                        <th>Email</th>
                        <th>Perguruan Tinggi</th>
                        <th>Jalur</th>
                        <th>No Transaksi</th>
                        <th>Virtual Account</th>
                        <th>Jumlah Tagihan</th>
                        <th>Tanggal Expired VA</th>
                        <th>Status Pembayaran</th>
                        <th>Tanggal Daftar</th>
                    </tr>
                </tfoot>
            </table>
            <a href="#" class="btn btn-secondary btn-icon-split" data-toggle="modal" data-target="#kirimModal">
                <span class="icon text-white-50">
                    <i class="fas fa-envelope"></i>
                </span>
                <span class="text">Kirim Semua</span>
            </a>
        </div>
        </form>
    </div>
</div>


{% endblock %}
{% block end %}
<!-- Kirim Modal-->
<div class="modal fade" id="kirimModal" tabindex="-1" role="dialog" aria-labelledby="kirimModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="kirimModalLabel">Apakah anda sudah yakin?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="/api/v1/kirimsemuajpa" method="POST">
            <div class="form-group">
                Yakin untuk mengirim?
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Kirim</button>
        </div>
        </form>
    </div>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
      $('#dataTable').DataTable({
        "ajax": '/api/v1/datapenerimajpa',
          dom: 'Bfrtip',
          buttons: [
              'copy', 'excel', 'pdf'
            ]
        });
    });
</script>
{% endblock %}