{% extends "base.html" %}
{% block title%}Keyword Chatbot{% endblock%}
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
{% endwith %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Edit Keyword Chatbot</h6>
    </div>
    <div class="card-body">
        <form action = "/edit_keyword" method = "POST">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Masukkan Keyword</label>
                <textarea class="form-control" name="id" hidden="true">{{data["id"]}}</textarea>
                <input type="text" class="form-control" name="keyword" value="{{data["keyword"]}}">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Masukkan Respond</label>
                <textarea class="form-control" name="respond" >{{data["respond"]}}</textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-icon-split">
                <span class="text">Edit Keyword</span>
            </button>
        </form>
    </div>
</div>

{% endblock %}