{% extends "base.html" %}
{% block title%}Keyword Chatbot{% endblock%}
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
{% endwith %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Edit Template Blast Undangan Chatbot</h6>
    </div>
    <div class="card-body">
        <form action = "/edit_template" method = "POST">
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Masukkan Template</label>
                <textarea class="form-control" name="id" hidden="true">{{data["id"]}}</textarea>
                <textarea class="form-control" name="key" hidden="true">{{data["key"]}}</textarea>
                <textarea class="form-control" name="value" rows="10">{{data["value"]}}</textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-icon-split">
                <span class="text">Edit Template</span>
            </button>
        </form>
    </div>
</div>
{% endblock %}