{% extends "base.html" %}
{% block title%}Tambah Event{% endblock%}
{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{%endblock%}
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
{% endwith %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Design Template Blast Email</h6>
        <br>
        <ul class="nav nav-tabs card-header-tabs" id="template-list" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#tanpapdf" role="tab" aria-controls="tanpapdf"
                    aria-selected="true">Tanpa PDF</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#denganpdf" role="tab" aria-controls="denganpdf"
                    aria-selected="false">Dengan PDF</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content mt-3">
            <div class="tab-pane active" id="tanpapdf" role="tabpanel">
                <form action = "#" method = "POST" enctype = "multipart/form-data">
                    <div class="mb-3">
                        <label for="kampus">Silahkan Pilih Kampus</label>
                        <select class="form-control" id="kampus" name="kampus" required>
                        <option value="poltekpos">Poltekpos</option>
                        <option value="stimlog">Stimlog</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Masukkan Subjek Email</label>
                        <input type="text" class="form-control" name="nama_event" placeholder="Contoh: Sosialisasi" required>
                    </div>
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="bodyEmail" class="form-label">Masukkan Pesan yang akan ada di Email</label>
                            <textarea name="bodyEmail" id="bodyEmail" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-icon-split">
                        <span class="text">Tambahkan Template Email</span>
                    </button>
                </form>
            </div>
            <div class="tab-pane" id="denganpdf" role="tabpanel" aria-labelledby="denganpdf-tab">
                <form action = "/api/v1/tambah_event_pdf" method = "POST" enctype = "multipart/form-data">
                    <div class="mb-3">
                        <label for="kampus">Silahkan Pilih Kampus</label>
                        <select class="form-control" id="kampus" name="kampus" required>
                        <option value="poltekpos">Poltekpos</option>
                        <option value="stimlog">Stimlog</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="filepath">Masukkan File PDF (Pastikan Lokasi Nama Sudah Sesuai)</label>
                        <input type="file" name="filepath" id="filepath" class="form-control-file" accept="application/pdf" required>
                    </div>
                    <div class="mb-3">
                        <label for="filepath">Masukkan Nama File Di Email</label>
                        <input type="text" class="form-control" name="nama_file" placeholder="Contoh: Surat Undangan Khusus" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Masukkan Subjek Email</label>
                        <input type="text" class="form-control" name="nama_event" placeholder="Contoh: Sosialisasi" required>
                    </div>
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="bodyEmailPDF" class="form-label">Masukkan Pesan yang akan ada di Email</label>
                            <textarea name="bodyEmailPDF" id="bodyEmailPDF" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-icon-split">
                        <span class="text">Tambahkan Template Email</span>
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Data Event</h6>
    </div>
    <div class="card-body">
        <form method="POST" action="/datapenerima">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nama Event</th>
                        <th>Tanggal</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Nama Event</th>
                        <th>Tanggal</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    {% if events%}
                    {% for result in events %}
                    <tr>
                        <td>{{result['nama_event']}}</td>
                        <td>{{result['tanggal']}}</td>
                        <td>
                            {% if result['path_file'] != None %}
                                <a href="/generate_template?id={{result["id"]}}" class="btn btn-info btn-icon-split">
                                    <span class="text">Test Generate PDF</span>
                                </a>
                            {% endif %}
                            <a href="/delete_template?id={{result["id"]}}" class="btn btn-danger btn-icon-split">
                                <span class="text">Hapus</span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        </form>
    </div>
</div>

{% endblock %}
{% block end%}
<script>
    $('#template-list a').on('click', function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>
<script type="text/javascript">
    $(document).ready(function() {
      $('#dataTable').DataTable({
          dom: 'Bfrtip',
          buttons: [
              'copy', 'excel', 'pdf'
            ]
        });
    });
</script>
<!-- <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
    var simplemde = new SimpleMDE({ element: $("#bodyEmail")[0] });
</script> -->
<script src="https://cdn.tiny.cloud/1/m1xt4ni246goc45afo47rdqfehf7ygsu44iajz0p19gxcwmd/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: '#bodyEmail',
        plugins: 'advlist link image lists',
        toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | link image',
        menubar: 'edit view insert format'
    });
    tinymce.init({
        selector: '#bodyEmailPDF',
        plugins: 'advlist link image lists',
        toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | link image',
        menubar: 'edit view insert format'
    });
</script>
{% endblock %}