{% extends "base.html" %}
{% block title%}Data Penerima Surat Undangan{% endblock%}

{% block content %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Data Penerima Surat Undangan</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Data Penerima Surat Undangan</h6>
    </div>
    <div class="card-body">
        <form method="POST" action="/datapenerima">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nomor Telepon</th>
                        <th>Pesan</th>
                        <th>Waktu</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Nomor Telepon</th>
                        <th>Pesan</th>
                        <th>Waktu</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        </form>
    </div>
</div>


{% endblock %}
{% block end %}
<script type="text/javascript">
    $(document).ready(function() {
      $('#dataTable').DataTable({
        "ajax": '/api/v1/datalogs',
          dom: 'Bfrtip',
          buttons: [
              'copy', 'excel', 'pdf'
            ]
        });
    });
</script>
{% endblock %}