{% extends "base.html" %}
{% block title%}Home{% endblock%}
{% block content %}

<h1 class="h3 mb-2 text-gray-800">Dashboard</h1>
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="row">
      <div class="col">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Data Pengiriman Jalur Undangan</h6>
            </div>
            <div class="card-body">
                <h4 class="small font-weight-bold">Data Seluruh: {{data["data_semua"]}} Orang</h4>
                <h4 class="small font-weight-bold">Belum Dikirim <span
                        class="float-right">{{data["belum_dikirim"]}} Orang ({{data["percent_belum_dikirim"]}}%)</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{data["percent_belum_dikirim"]}}%"
                        aria-valuenow="{{data["percent_belum_dikirim"]}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Pending<span
                        class="float-right">{{data["pending"]}} Orang ({{data["percent_pending"]}}%)</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{data["percent_pending"]}}%"
                        aria-valuenow="{{data["percent_pending"]}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Sudah Dikirim<span
                        class="float-right">{{data["terkirim"]}} Orang ({{data["percent_terkirim"]}}%)</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: {{data["percent_terkirim"]}}%"
                        aria-valuenow="{{data["percent_terkirim"]}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Sudah Dibaca <span
                        class="float-right">{{data["sudah_dibaca"]}} Orang ({{data["percent_sudah_dibaca"]}}%)</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-info" role="progressbar" style="width: {{data["percent_sudah_dibaca"]}}%"
                        aria-valuenow="{{data["percent_sudah_dibaca"]}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Respon<span
                        class="float-right">{{data["respon"]}} Orang ({{data["percent_respon"]}}%)</span></h4>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{data["percent_respon"]}}%"
                        aria-valuenow="{{data["percent_respon"]}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Data Pengiriman Jalur Prestasi Akademik</h6>
            </div>
            <div class="card-body">
                <h4 class="small font-weight-bold">Data Seluruh: {{datajpa["data_semua"]}} Orang</h4>
                <h4 class="small font-weight-bold">Belum Dikirim <span
                        class="float-right">{{datajpa["belum_dikirim"]}} Orang ({{datajpa["percent_belum_dikirim"]}}%)</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{datajpa["percent_belum_dikirim"]}}%"
                        aria-valuenow="{{datajpa["percent_belum_dikirim"]}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Pending<span
                        class="float-right">{{datajpa["pending"]}} Orang ({{datajpa["percent_pending"]}}%)</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{datajpa["percent_pending"]}}%"
                        aria-valuenow="{{datajpa["percent_pending"]}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Sudah Dikirim<span
                        class="float-right">{{datajpa["terkirim"]}} Orang ({{datajpa["percent_terkirim"]}}%)</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: {{datajpa["percent_terkirim"]}}%"
                        aria-valuenow="{{datajpa["percent_terkirim"]}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Sudah Dibaca <span
                        class="float-right">{{datajpa["sudah_dibaca"]}} Orang ({{datajpa["percent_sudah_dibaca"]}}%)</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-info" role="progressbar" style="width: {{datajpa["percent_sudah_dibaca"]}}%"
                        aria-valuenow="{{datajpa["percent_sudah_dibaca"]}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Respon<span
                        class="float-right">{{datajpa["respon"]}} Orang ({{datajpa["percent_respon"]}}%)</span></h4>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{datajpa["percent_respon"]}}%"
                        aria-valuenow="{{datajpa["percent_respon"]}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Data Pengiriman Event</h6>
            </div>
            <div class="card-body">
                <h4 class="small font-weight-bold">Data Seluruh: {{dataevent["data_semua"]}} Orang</h4>
                <h4 class="small font-weight-bold">Belum Dikirim <span
                        class="float-right">{{dataevent["belum_dikirim"]}} Orang ({{dataevent["percent_belum_dikirim"]}}%)</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{dataevent["percent_belum_dikirim"]}}%"
                        aria-valuenow="{{dataevent["percent_belum_dikirim"]}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Pending<span
                        class="float-right">{{dataevent["pending"]}} Orang ({{dataevent["percent_pending"]}}%)</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{dataevent["percent_pending"]}}%"
                        aria-valuenow="{{dataevent["percent_pending"]}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Sudah Dikirim (Khusus WA)<span
                        class="float-right">{{dataevent["terkirim"]}} Orang ({{dataevent["percent_terkirim"]}}%)</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: {{dataevent["percent_terkirim"]}}%"
                        aria-valuenow="{{dataevent["percent_terkirim"]}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Sudah Dikirim (Khusus Email)<span
                    class="float-right">{{dataevent["terkirim_email"]}} Orang ({{dataevent["percent_terkirim_email"]}}%)</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: {{dataevent["percent_terkirim_email"]}}%"
                        aria-valuenow="{{dataevent["percent_terkirim_email"]}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Sudah Dibaca <span
                        class="float-right">{{dataevent["sudah_dibaca"]}} Orang ({{dataevent["percent_sudah_dibaca"]}}%)</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-info" role="progressbar" style="width: {{dataevent["percent_sudah_dibaca"]}}%"
                        aria-valuenow="{{dataevent["percent_sudah_dibaca"]}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Respon<span
                        class="float-right">{{dataevent["respon"]}} Orang ({{dataevent["percent_respon"]}}%)</span></h4>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{dataevent["percent_respon"]}}%"
                        aria-valuenow="{{dataevent["percent_respon"]}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Template Data</h6>
            </div>
            <div class="card-body">
                <p>Silahkan download file dibawah ini untuk mengisi data</p>
                <a href="/downloads/Template Data" class="btn btn-secondary btn-icon-split">
                    <span class="text">Download Template Data Jalur Undangan</span>
                </a>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Upload Data Penerima Surat Undangan</h6>
            </div>
            <div class="card-body">
                <form action = "/" method = "POST" 
                    enctype = "multipart/form-data">
                    <select class="form-control" name="pilihan">
                        <option value="undangan">Undangan</option>
                        <option value="jpa">JPA</option>
                        <option value="undangansertifikat">Event</option>
                    </select><br>
                    <input type = "file"  name = "file" />
                    <button type="submit" class="btn btn-primary btn-icon-split">
                        <span class="text">Upload Data</span>
                    </button>
                </form>   
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Bot Status</h6>
            </div>
            <div class="card-body">
                <a href="/api/v1/resetpengiriman" class="btn btn-primary float-right">
                    <span class="text">Reset Pengiriman</span>
                </a>
                <b>Sisa Pengiriman Pesan</b>: {{ sisa_job[0] }} Pesan<br>
                <b>Sisa Penambahan Kontak</b>: {{ sisa_job[1] }} Kontak<br><br>
                <b>Bot Connection: </b><br>
                {% for status in bot_status %}
                    {{ status["nomor"] }} : {{ status["status"] }}<br>
                {% endfor %}
            </div>
        </div>
      </div>
    </div>
  </div>



{% endblock %}