{% extends "base.html" %}
{% block title%}Keyword Chatbot{% endblock%}
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
{% endwith %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Tambah Keyword Chatbot</h6>
    </div>
    <div class="card-body">
        <form action = "#" method = "POST">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Masukkan Keyword</label>
                <input type="text" class="form-control" name="keyword" placeholder="Contoh: tolong tunjukkan data">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Masukkan Respond</label>
                <textarea class="form-control" name="respond" placeholder="Contoh: Ini dia data" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-icon-split">
                <span class="text">Tambahkan Keyword</span>
            </button>
        </form>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Data Keyword Chatbot</h6>
    </div>
    <div class="card-body">
        <form method="POST" action="/datapenerima">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Keyword</th>
                        <th>Respond</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Keyword</th>
                        <th>Respond</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    {% if data%}
                    {% for result in data %}
                    <tr>
                        <td>{{result['keyword']}}</td>
                        <td>{{result['respond']}}</td>
                        <td>
                            <a href="/edit_keyword?id={{result["id"]}}" class="btn btn-info btn-icon-split">
                                <span class="text">Edit</span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        </form>
    </div>
</div>

{% endblock %}
{% block end%}
<script type="text/javascript">
    $(document).ready(function() {
      $('#dataTable').DataTable({
          dom: 'Bfrtip',
          buttons: [
              'copy', 'excel', 'pdf'
            ]
        });
    });
</script>
{% endblock %}