{% extends "base.html" %}
{% block title%}Keyword Chatbot{% endblock%}
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
{% endwith %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Get Session HP Poltekpos</h6>
    </div>
    <div class="card-body">

    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Get Session HP Stimlog</h6>
    </div>
    <div class="card-body">

    </div>
</div>

{% endblock %}
{% block end%}
{% endblock %}